.mat-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.parent {
  display: flex;

  align-items: center;

  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: 40px;

  .row {
    display: flex;

    align-items: center;
  }
}
